<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>Todas as categorias</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <input class="form-control" placeholder="Buscar">
      </div>
    </div>
    <hr>

    <div class="row" *ngIf = 'categories.length == 0'>
      <div class="col-md-12">
          <label>Nenhuma categoria ainda foi cadastrada</label>
      </div>
    </div>

    <div class="row" *ngFor = 'let key of Object.keys(categories)'>
      <div class="col-md-2">
          {{categories[key].name}}
      </div>
      <div class="col-md-1">
        <i class="fa fa-square" aria-hidden="true" [style.color]="categories[key].color"></i>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-12" style="text-align: right;">
          <button type="button" class="btn btn-primary" (click) = "newCategory();"> Novo</button>
      </div>
    </div>
</div>
