<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Cadastro de categoria</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
          <label>Nome*</label>
          <input type="text" class="form-control" [(ngModel)]="category.name">
        </div>
        <div class="col-md-1">
          <label>Cor*</label>
          <input class="form-control" type="color" [(ngModel)]="category.color">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12" style="text-align: right;">
            <button type="button" class="btn btn-warning" (click) = "backList();"> Voltar</button>
            <button type="button" class="btn btn-primary" (click) = "save();"> Salvar</button>
        </div>
    </div>
</div>
