<div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h1>Todas as categorias</h1>
      </div>
      <div class="col-md-1">
          <button type="button" class="btn btn-primary" (click) = "newCategory();" style="margin-top:24px;"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> Novo</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <input class="form-control" placeholder="Buscar">
      </div>
    </div>
    <hr>

    <div class="row" *ngIf = 'categories.length == 0'>
      <div class="col-md-12">
          <label>Nenhuma categoria ainda foi cadastrada</label>
      </div>
    </div>

    <div class="row" *ngFor = 'let key of Object.keys(categories)'>
      <div class="col-md-2">
          {{categories[key].name}}
      </div>
      <div class="col-md-1">
        <i class="fa fa-square" aria-hidden="true" [style.color]="categories[key].color"></i>
      </div>
      <div class="col-md-1">
        <i class="fa fa-pencil text-success" aria-hidden="true" style="cursor:pointer;" (click) = "edit(categories[key], key);"></i>
      </div>
      <div class="col-md-1">
        <i class="fa fa-times text-danger" aria-hidden="true" style="cursor:pointer;" (click) = "remove(key);"></i>
      </div>
    </div>
</div>
